
* {
    padding: 0;
    margin: 0;
}

#imageResizer{
    padding: 0%;
    width: 88%;
}

.imageResizerWrapper{
    display: none;
    width: 100%;
    justify-content: space-between;
}

.todoTitleWrapper{
    display: none;
    width: 100%;
    flex-direction: column;
    gap: 1em;
}
textarea{
    width: 100%;
    padding: 0.5em;
    border-radius: 5px;
    margin-bottom: 1em;
}

hr{
    border-top: dotted;
}

.editItemParent{
    display: none;
}

.editItemWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5em;
    margin-top: 1em;
}

.upper-section #captchaItemName{
    width: 25%;
}
.upper-section{
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 1em;
    width: 100%;

}
.upper-section input{
    padding: 1em;
    height: 2.5em;
}

.middle-section{
    display: flex;
    justify-content: space-between;
}

.lower-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 4em;
}

.itemPageWrapper{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    width:-webkit-fill-available;
    height: -webkit-fill-available;
    z-index: 1000;

}
.editingSection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3em;
}
.itemPageWrapper .editingSectionWrapper {
    display: flex;
    justify-content: flex-start;
    width: -webkit-fill-available;
    flex-direction: row;
    box-sizing: border-box;
    gap: 11em;
    overflow-x: scroll;
    height: fit-content;
    align-items: center;
    background: rgba(255,255,255,0.3);
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    padding: 4em;
    border-radius: 30px;
    overflow-y: hidden;
}

.dashboardItemPageWrapper{
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: center;
    gap: 5em;
    padding: 7em;
    flex-direction: column;
}

.innerToDoBoxWrapper{
    padding: 4em;
    background: linear-gradient(45deg, #FC466B, #3F5EFB) !important;
    color: white;
    max-width: -webkit-fill-available;
    gap: 3em;
    align-items: center;
}
.itemPageWrapper svg{
    position: absolute;
    z-index: 1;
    top: 1em;
    right: 1em;
    cursor: pointer;
}

.itemPageWrapper button svg {
    position: unset;
    top: unset;
    right: unset;
}

.itemWrapper{
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    margin-bottom: 2vh;
    border-radius: 30px;
    background: linear-gradient(45deg, #FC466B, #3F5EFB);
    height: fit-content;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    color: white;
    gap: 7em;
    padding: 7em;
    max-width: 100%;

}

.itemWrapper-createItem{
    margin-bottom: 2vh;
    border-radius: 30px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(0, 0, 0);
    gap: 3em;
    padding: -1em;
    max-width: 100%;
    text-align: center;
}

.subtitles{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls-itemCreateWrapper{
    display: flex !important;
    justify-content: center !important;
}
.itemWrapperCreateItem{
    max-width: 100%;
}

input{
    border-radius: 8px;
    background-color: white;
    color: black;
    padding: 1%;
}

button{
    color: black;
    border-radius: 8px;
    background-color: white;
}

.captchta-canvas{
    display: none;
}
form{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 2em;
    width: 100%;

}
#myFileinput{
    display: none;
}
.changeImgBtn{
    display: none;
}
.discard{
    display: none;
}
.upload-area input{
    background: none;
}

.innerToDoBox{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: rgba(255,255,255,0.3);
    padding: 2em;
    width: 58%;
    height: fit-content;
    border-radius: 20px;
    border-left: 1px solid rgba(255,255,255,0.3);
    border-top: 1px solid rgba(255,255,255,0.3);
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    text-align: center;
    position: relative;
    font-size: x-large;

}


/* Captcha Stylings */



.captcha-wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    
}
.captcha-container {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 41em;
    width: fit-content;
    display: none;
    flex-direction: column;
    background-color: white;
    border-radius: 0.6em;
    padding: 2em;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    animation: fadeIn 0.5s ease-in;
    justify-content: center;
    align-items: center;
}

.captcha-container-createItem {
    max-width: 36em;


}
.captchta-canvas > * {
    grid-column: 1;
    grid-row: 1;

}

.captchta-canvas {
    width: max-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 0 auto;
    max-width: 100%;
    align-items: end;
    overflow: overlay;
    max-height: 90vh;
}

.cube {
    cursor: crosshair;
}
.cube:hover {
    background-color: red;
    opacity: 0.5;
}
.cube.selected {
    background-color: yellow;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.title {
    font-size: x-large;
    margin-bottom: 20px;
    color: #000000;
}

.canvas {
    display: grid;
    grid-template-columns: repeat(31, 1em); 
    grid-template-rows: repeat(31, 1em); 
    margin-bottom: 20px;
    border: 3px solid black;
    border-radius: 5px;
    max-width: 100%; 
    width: fit-content;
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;

}

.canvas > * {
    border: 1px  black;
    box-sizing: border-box;
}

.controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
button {
    height: 2.5em;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: #696891;
    color: white;
    border: none;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button .buttonDefault{
    background-color: none !important;
}
.submit-button{
    width: 80%;
}
.reset-button{
    width: 20%;
}

button:hover {
    background-color: #0056b3;
}

svg {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.close-button {
    position: absolute;
    top: 0;
    right: 0.5em;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 2em;
    color: white;
    border-radius: 100%;
}

button .close-button:hover{
    background-color: transparent;
}

@media screen and (max-width: 676px){
  
    .canvas {
        grid-template-columns: repeat(31, 0.7em) !important;
        grid-template-rows: repeat(31, 0.7em) !important;
    }
    .title{
        font-size: large;
    }
    .submit-button {
        height: 2em;
    }
    .reset-button {
        height: 2em;
    }

}

@media screen and (max-width: 400px){
    .captcha-container{
        max-width: 39em;
        padding: 4%;
    }

    .canvas {
        grid-template-columns: repeat(31, 0.65em) !important;
        grid-template-rows: repeat(31, 0.65em) !important;
    }

}

.apiWrapper{
    display: flex;
    justify-content: space-between;
}

.apiWrapper p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

}

.currentItems{
    padding: 3em;
    background: white;
    border-radius: 2em;}

.quotes{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1em;
    font-size: large;
    font-style: italic;
    padding: 2em;
    border-radius: 2em;
    color: white;
    border: 2px solid white;
}

.quoteTitle{
    margin-bottom: 1em;
}

.randomQuoteAuthor{
    font-size: initial;
    font-weight: 600;
}



