
.viewOnBiggerScreen{
    display: none;

}

@media screen and (max-width: 775px){
    body {
        overflow: hidden;
        width: 100vw;
        height: 100vh;
    }
    .viewOnBiggerScreen{
        display: block;
        z-index: 10000;
        position: fixed;
        backdrop-filter: blur(10px);
        height: -webkit-fill-available;
        width: -webkit-fill-available;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .viewOnBiggerScreen h1{
        background-color: white;
        padding: 5%;
    }

}